@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap");
/* 
bg-color-preloader : #020c1b
bg-color: #0a192f
main-color: #64ffda
hover-color: #64ffda1a
light-slate: #ccd6f6
slate: #8892b0
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-size: 16rem;
  font-family: "Inter", sans-serif;
  width: 100vw;
  cursor: url("img/cursor.svg"), default;

  background-color: #0a192f;
}

::selection {
  background-color: #64ffda;
  color: #0a192f;
}

/*! Custom scroll bar - prone to warnings */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #0a192f;
  margin-block: 5px;
  border-radius: 1000px;
}

::-webkit-scrollbar-thumb {
  background-color: #64ffda;
  border-radius: 1000px;
  border: 2px solid;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #64ffda #0a192f;
    scrollbar-width: thin;
  }
}

/* .cursor {
  height: 40px;
  width: 40px;
  border: 2px solid #ccd6f6;
  border-radius: 50%;
  position: absolute;
  z-index: 10000;

  transition-duration: 20ms;
  transition-timing-function: ease-out;
} */

.hidden {
  display: none !important;
}
.header__preload {
  height: 100%;
  width: 100%;
  background-color: #020c1b;
  display: flex;
}

.header__preload--logo {
  margin: auto;
  position: relative;
}

.header__preload--logo-svg {
  height: 12rem;
  stroke-dasharray: 700;
  stroke-dashoffset: 0;
  animation: preload 1s cubic-bezier(0.83, -0.08, 0.4, 0.78) 1;
  transform: rotate(240deg);
}

.header__preload--logo-svg path {
  stroke: #64ffda;
}

@keyframes preload {
  0% {
    stroke-dashoffset: 700;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.header__preload--logo-letter {
  color: #64ffda;
  font-size: 5rem;
  font-weight: 400;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__preload--logo-letter-animate {
  animation: letter-fade 2s ease-out infinite;
}

@keyframes letter-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  height: 100%;
  background-color: #0a192f;
}

.header__nav {
  font-size: 1.6rem;
  font-weight: 400;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 100;
  background-color: #0a192f;

  top: 0;
  left: 0;
}

.header__nav--logo-box {
  color: #64ffda;
  width: 6rem;
  margin-left: 3rem;
  position: relative;
}

.header__nav--logo-svg {
  width: 6rem;
  height: 8rem;
}

.header__nav--logo-svg path {
  stroke: #64ffda;
}

.header__nav--logo-box p {
  position: absolute;
  font-size: 2rem;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__nav--items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}

.header__nav--item {
  cursor: pointer;
  color: #ccd6f6;
  transition: 0.2s ease-in-out;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
}
.header__nav--item span {
  margin-right: 0.2rem;
  font-size: 1.3rem;
}

.header__nav--item:hover {
  color: #64ffda;
}

.header__content {
  display: flex;
  width: 114rem;
  margin: 0 auto;
  justify-content: space-around;
}
.header__container--image {
  justify-self: center;
  align-self: center;
  width: 35%;
}

.header__img-box {
  height: 60%;
  position: relative;
  margin-right: 5rem;
  border-radius: 3px;
  background-color: #64ffda;
}

.header__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("img/profile.jpg");
  background-size: cover;
  border-radius: 3px;
  z-index: 100;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
}

.header__img-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #64ffdb6b;
  transition: background-color 0.2s ease-in;
}

.header__img-box:hover .header__img-shadow {
  background-color: transparent;
}

.header__img-box:hover .header__img-outline {
  transform: translateX(1.5rem) translateY(1.5rem);
}

.header__img-outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #64ffda;
  transform: translateX(2.5rem) translateY(2.5rem);
  transition: transform 0.2s ease-in;
}

.header__container--content {
  display: flex;
  flex-direction: column;
  width: 60%;

  padding-top: 14rem;
  padding-left: 3rem;
}
.btn {
  color: #64ffda;
  padding: 1rem;
  background-color: #0a192f;
  border-color: #64ffda;
  border-radius: 0.5rem;
}
.btn:hover {
  background-color: #64ffda1a;
}

.btn--resume {
  margin-right: 5rem;
  font-size: 1.4rem;
}

.btn--contact {
  width: 23rem;
  padding-left: 0.8rem;
  margin-top: 4rem;
  font-size: 2.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 12px 24px;
  margin-left: 0.8rem;
}

.header__container {
  width: 100%;
  height: 100%;
  display: flex;
}

.header__container--links {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 50;
}

.header__container--link-icon {
  fill: #0a192f;
  stroke: #ccd6f6;
  height: 2.5rem;
  margin-bottom: 4rem;
  cursor: pointer;
}
.header__container--link-icon:hover {
  stroke: #64ffda;
  transform: scale(1.1);
}

.header__container--links::after {
  content: "";
  display: block;
  height: 10rem;
  width: 0.3rem;
  background-color: #ccd6f6;
  margin: 0 auto;
}

.header__container--mail {
  position: fixed;
  right: 50;
  bottom: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.header__container--mail-id {
  font-size: 1.4rem;
  writing-mode: vertical-rl;
  color: #ccd6f6;
  text-align: center;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.header__container--mail-id:hover {
  margin-bottom: 0.5rem;
  color: #64ffda;
  transform: scale(1.001);
}

.header__container--mail::after {
  content: "";
  display: block;
  height: 10rem;
  width: 0.3rem;
  background-color: #ccd6f6;
  margin: 0 auto;
}

.heading-4 {
  color: #64ffda;
  font-family: "Fira Code", monospace;
  font-size: 2.2rem;
  font-weight: 300;
  display: inline-block;
  padding-left: 0.8rem;
}

.header__container--content h1 {
  color: #ccd6f6;
  filter: brightness(1.3);
  font-size: 9rem;
  margin-top: 1rem;
  display: inline-block;
}

.header__container--content h2 {
  font-size: 8rem;
  color: #ccd6f6;
  filter: brightness(0.9);
  display: inline-block;
}

.header__container--content h3 {
  font-family: "Fira Code", monospace;
  color: #64ffda;
  font-size: 2.2rem;
  font-weight: 300;
  padding-left: 0.8rem;
  display: inline-block;
  margin-top: 3rem;
  width: fit-content;
}
.underline-on-hover::after {
  content: "";
  margin-top: 10px;
  height: 2px;
  background-color: #64ffda;
  display: block;
  width: 0%;

  transition: all 0.2s ease-in;
}

.underline-on-hover:hover::after {
  width: 100%;
}

/* about section */
.about {
  margin-top: 10rem;
  margin-bottom: 12rem;
}

.about__container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-left: 60px;
  margin-top: 15rem;
}
.about__container-content {
  font-size: 3.2rem;
  margin-left: 8rem;
}
.about__container-content h3 {
  font-size: 2.5rem;
  color: #ccd6f6;
  font-weight: 700;
}
.about__text {
  padding-left: 1rem;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #8892b0;
  display: block;
  margin-top: 4rem;
}
.about__text-paragraph {
  margin-top: 5rem;
  max-width: 40ch;
}
.about__text-paragraph:last-child {
  color: #64ffda;
}

.tagcloud {
  top: 0;
  left: 0;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
}

.tagcloud--item {
  cursor: default;
  transition: color 0.1s ease-in-out;
}
.tagcloud--item:hover {
  color: #fff;
}

/* section skills */
.skills {
  margin-top: 16rem;
  margin-bottom: 16rem;
  margin-left: 13.2rem;
  width: 80%;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 1fr;
}

.skill-paragraph {
  grid-row: 1 / -1;
  grid-column: 1;
}

.secondary-heading {
  font-size: 2.5rem;
  color: #ccd6f6;
  font-weight: 700;
}

.skill-content {
  margin-top: 3rem;
  max-width: 40ch;
}
.skill-content a {
  color: #64ffda;
  text-decoration: none;
  font-size: 1.9rem;
}
.skill-content a:hover {
  font-weight: 200;
  filter: blur(0.8);
}
.paragraph {
  padding-left: 1rem;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #8892b0;
  display: block;
  margin-top: 4rem;
}

/* skill-box */

.skill-bar {
  font-size: 1.4rem;
  grid-row: 1 / -1;
}

.center {
  margin: 4rem;
  margin-left: 6rem;
  margin-top: 6rem;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.skillBox {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  margin-left: 1rem;
  padding-top: 1rem;
}

.skillBox p {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  background: #262626;
  box-sizing: border-box;
  border: 1px solid #64ffda;
  border-radius: 100px;
}

.skill_level {
  background: #64ffda;
  border-radius: 50px;
  height: 10px;
  animation: skill-bar 1s;
}
@keyframes skill-bar {
  0% {
    width: 0%;
  }
}

/* work section */

.work {
  margin-top: 14rem;
  margin-bottom: 14rem;
  margin-left: 13.2rem;
  width: 80%;
}

.row {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.row__img-box {
  width: 72%;
  height: 400px;
  position: relative;
}
.row__img-box-reverse {
  justify-self: end;
}
.row__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.row__img-1 {
  background-image: url("img/work-1.PNG");
}
.row__img-2 {
  background-image: url("img/work-2.PNG");
}

.row__img-shadow {
  height: 100%;
  width: 100%;
  background-color: #64ffdb6b;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.row__img-shadow:hover {
  background-color: transparent;
}

.row__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 1rem;
}
.row__content-reverse {
  align-items: start;
}

.row__content-text {
  padding-top: 0.5rem;
  text-align: end;
  display: block;
  font-size: 1.6rem;
}

.hover-text {
  font-size: 3.2rem;
  font-weight: 500;
  color: #ccd6f6;
}

.hover-text:hover {
  color: #64ffda;
}

.row__content-box {
  width: 120% !important;
  margin-top: 1rem;
  font-size: 1.8rem;
  padding: 2rem 0;
  padding-right: 0.5rem;
  line-height: 1.5;
  letter-spacing: 0.9px;
  text-align: end;
  color: #ccd6f6;
  background-color: #020c1b;
  border-radius: 3px;
  z-index: 10000;
}
.row__content-box-reverse {
  text-align: start;
  padding-left: 0.5rem;
}

.row__content-links {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  margin-left: 3px;
}

.row-icon {
  height: 3rem;
  width: 3rem;
  fill: #ccd6f6;
  cursor: pointer;
}
.row-icon:hover {
  fill: #64ffda;
}

.row-reverse {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50rem;
  position: relative;
}
